/*******************/
/*GLOBAL VARIABLES*/
/*******************/

/*******************/
/*GLOBAL STYLES*/
/*******************/
body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: Montserrat, Arial, sans-serif;
}

/*******************/
/*HEADER STYLES*/
/*******************/
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

/*******************/
/*MAIN STYLES*/
/*******************/

main {
  display: flex;
  flex-flow: row wrap;
}

.snippet-card {
  border: 4px solid blue;
  min-width: 600px;
}

pre {
  background-color: lightgreen;
}


/*******************/
/*FOOTER STYLES*/
/*******************/

@media screen and (min-width: 991px) {
h1 { color: red;}
}

/*Tablet*/
@media screen and (max-width: 990px) {
h1 { color: green;}
}

/*Mobile*/
@media screen and (max-width: 768px) {
  h1 { color: blue;}
}